body {
  background-color: #333138;
}

h1,
h2,
p {
  color: white;
}
h2 {
  text-transform: uppercase;
}

.nav-section {
  background-color: #333138;
  position: fixed;
  width: 33%;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.navigation {
  width: 60%;
  margin-left: 20%;
  text-align: center;
}

.navigation-item {
  width: auto;
  list-style: none;
  margin: 20px 0px 20px 0px;
}

.navigation-item a {
  display: block;
  margin: 0 20% 0 20%;
  width: 60%;
  color: red;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
}

.info-card {
  display: block;
  margin: auto;
  align-content: center;
}

.profile {
  margin-top: 30%;
  text-align: center;
  align-content: center;
}

.avatar {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 20px 0 20px 0;
}

.content-section {
  height: 100vh;
  padding-top: 20vh;
  display: block;
  align-items: center;
}

.home-section {
  padding-top: 30%;
  padding-bottom: 30%;
}

@media only screen and (max-width: 766px) {
    .profile {
        display: none;
      }
    .navigation{
        width: 100%;
        margin: 0 0 0 0;
    }
  .nav-section {
    
    width: 100%;
    height: 60px;
  }
  .navigation-item {
    display: inline-table;  
    list-style: none;
    margin: 20px 0px 20px 0px;
  }
  .navigation-item a {
    display: block;
   
    width: 100%;
    color: red;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
  }

}
