body, html
{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    background-color: #333138;
}
.grid-container
{
 display: grid;
 height: 100vh;
 grid-template-columns: 35vh;

  grid-template-areas: 
  "navigation about"
  "navigation work"
  "navigation projects"
  "navigation contact";
}

.nav-section{
  grid-area: navigation;
  
  align-items: center;
}

.about-section{
  grid-area: about;
  background-color: blue;
}

.work-section
{
    grid-area: work;
}

.projects-section{
    grid-area: projects;
}

.contact-section{
    grid-area: contact;
}
.content
{
align-self: center ;
width: 100%;
height: 100vh;
}

@media only screen and (max-width: 766px)
{
.grid-container
{
 display: grid;
 height: 100vh;
 grid-template-columns: none;
 grid-template-rows: 10vw 90vw 90vw 90vw 90vw;
  grid-template-areas: 
  "navigation"
  "about"
  "work"
  "projects"
  "contact";
}

.nav-section{
    grid-area: navigation;
    height: 10vh;
    align-self: start;
  }
  .content
  {
      height: auto;
      width: auto;
    padding: 15px 5px 15px 5px;
  }
}